/* Importación asistida con ChatGPT*/
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook&family=Germania+One&family=MedievalSharp&family=Fruktur&family=Goudy+Bookletter+1911&display=swap');

body{
    background-image: url("https://images7.alphacoders.com/332/332379.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center -100px;
    flex-direction: column;
}

.content{
    margin-bottom: 50px;

}

h1, h2, h3{
    font-family: 'UnifrakturCook', 'Germania One', 'MedievalSharp', 'Fruktur', 'Goudy Bookletter 1911', sans-serif;
}

p{
    font-family: 'Lora', serif;
}

#footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}